
  
  a{
    text-decoration: none;
  }

  
  body {
  background: #648880;
  background: linear-gradient(to top, #ebe832 50%,  #044997 80%);
  }

  .header-avatar{
    text-align: center;
  }

  .my-photo{
    margin-left: auto;
    border-radius: 100;
  }

  .header-main-contacts{
    display: flex;
   
    align-items: flex-start;
  }

  .header-contact{
    font-size:30px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
  }

  .email-link{
    text-decoration: none;
    color: black;
  }
  
  .email-link:hover{
    transition: cubic-bezier(0, 0, 1, 1);
    color: yellow;
  }


  .container{
    justify-content: space-between;
    flex-direction: row;
  }

  .menu-list {
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif ;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
  }

  a:hover{
    transition: cubic-bezier(0, 0, 1, 1);
    color: yellow;
  }

  .menu-item{
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background: powderblue;
  }
  
  .menu-item:hover {
    transition: all 0.5s ease-out;
    background-color: #1930b3;
    box-shadow: 0 1px 40px 2px rgb(129 127 127 / 40%);
    
  }

  .main-title{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
  
  }
  
  .main-sub{
    text-align: center;
    color: white;
  }

  .section-flex{
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
  }

 .section-contacts{
   background: rgb(89, 112, 218);
   color:ivory;
   height: 160px;
   width: 200px;
   border-radius: 15px;
   text-align: center;
   font-size: 20px;
 }

  .section-about-me {
    background:rgb(89, 112, 218);
    color:ivory;
   height: 160px;
   width: 1000px;
   border-radius: 15px;
   text-align: center;
   font-size: 20px;
   

  }

  .section-skills{
    
    background: rgb(89, 112, 218);
    color:ivory;
    height: 160px;
    width: 200px;
    border-radius: 15px;
    text-align: center;
    font-size: 20px;
    width: 250px;
  }
  
   .section-code{
     background: rgb(89, 112, 218);
     color:ivory;
    height: 210px;
    width: 620px;
    border-radius: 15px;
    text-align: center;
    font-size: 20px;
   }
 
  .section-courses{
    background: rgb(89, 112, 218);
    color:ivory;
    height: 150px;
    width: 250px;
    border-radius: 15px;
    text-align: center;
    font-size: 20px;
  }

  .section-education{
    background: rgb(89, 112, 218);
    color:ivory;
    height: 150px;
    width: 250px;
    border-radius: 15px;
    text-align: center;
    font-size: 20px;
  }
  
  .section-languages{
    background: rgb(89, 112, 218);
    color:ivory;
    height: 150px;
    width: 250px;
    border-radius: 15px;
    text-align: center;
    font-size: 20px;
    margin-left: auto;
  }
  .footer{
    display: flex;
    background: rgb(237, 239, 241);
    justify-content: space-evenly;
  }
 .footer-year{
   align-self: center;
   color: black;
 }

  